
<div>
  <h2 md-dialog-title>Edit {{getFullName(data)}} details</h2>
  <hr>
  <mat-dialog-content>
    <!-- <form (submit)="savePerson($event)"> -->
      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="data.firstname" id="firstname" name="firstname"
          placeholder="First Name" required>
        </mat-form-field>
      </div>
      <div>
        <!-- <label mat-label>Lastname</label> -->
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="data.lastname" id="lastname" name="lastname"
          placeholder="Last Name" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="data.phonenumber" id="phonenumber" name="phonenumber"
          placeholder="Phone Number" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="data.country" id="country" name="country"
          placeholder="Country" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <!-- <input matInput type="text" [(ngModel)]="data.birthdate" id="birthdate" name="birthdate"
          placeholder="Birth Date" required> -->
          <input matInput [matDatepicker]="picker" [(ngModel)]="data.birthdate" id="birthdate"
          name="birthdate" placeholder="Birth Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="data.birthdate"></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-dialog-actions>
          <button md-raised-button (click)="onCloseCancel()">Cancel</button> &nbsp;
          <button md-raised-button (click)="onCloseConfirm()">Update Account</button>
        </mat-dialog-actions>
      </div>
    <!-- </form> -->
  </mat-dialog-content>
  <hr>
</div>