<div class="main-div">
  <mat-card class="center" text-align="center center">
    <mat-card-title>Please Sign In</mat-card-title>
      <form (submit)="loginUser($event)">
        <div class="form-group">
          <label mat-label>Username</label>
          <mat-form-field>
            <input matInput type="text" id="name" name="name" required>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label mat-label>Password</label>
          <mat-form-field>
            <input matInput type="password" id="password" name="password" required>
          </mat-form-field>
        </div>

        <div>
          <button mat-button type="submit">LOGIN</button>
        </div>
      </form>
  </mat-card>
</div>