  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-select {
    overflow: visible;
  }

  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  
  .sidenav-content {
    padding: 20px;
  }

  .mat-checkbox-inner-container {
    width: 14px;
    height: 14px;
  }

  //For the solo 'Search' field
  .mat-form-field--solo {
    width: 100%;
  }

  .vert {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;  
  }