.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-select {
    overflow: visible;
  }

  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  
  .sidenav-content {
    padding: 20px;
  }

  //For the solo 'Search' field
  .mat-form-field--solo {
    padding: 0 10px;
    margin: 10px;
  }
  .mat-form-field--solo .mat-input-underline,
  .mat-form-field--solo .mat-form-field-underline {
    display: none !important;
  }
  // .mat-form-field-wrapper {
    // padding-bottom: 1em;
  // }

  .fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }